* {
    margin: 0;
    padding: 0;
}
#wrap {
    margin: 0 auto;  /*left right auto 居中*/
    width: 800px;
    height: 300px;
    padding: 20px;

}
#wrap img {
    width: 124px;
    height: 140px;
    margin: 2px;
}

#wrap img.rotate-animation {/*既有图片又有类名*/
    animation: rotateAni 1s ease-in-out;
}

@keyframes rotateAni {
    to {
        transform: rotateY(360deg);/*to is 100%*/

    }
}