{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName":"antd",
        "style":"css"
        // 如果要打包的话会出错 yarn build出错
        // 解决方法：删除"style":"css"+_app.js
      }
    ]
  ]
}